<h1>(自分の題名)</h1>
<h3>新規投稿ページ</h3>
<%= form_for @eco do |f| %>

 <div class='form-group'>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
        <div class='form-check'>
            <%= tag.label class: 'form-check-label' do %>
                <%= tag.check_box class: 'form-check-input' %>
                <%= tag.text %>
            <% end %>
        </div>
    <% end %>
</div>

# データ型がtextで自由記述の入力フォーム
  <div class="field">
    <%= f.label :今日のエコ  %>
    <%= f.text_area :about, :size => "30x2" %>
  </div>

  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", ecos_path %>








