<section class="bg">
    <p class="moji">エコ生活</p>
    <p class="image"><%= image_tag "image2.jpg", size: '1000x600' %></p>
    
    <z class="moji">みんなでエコ、たのしくエコ。みんなのエコを教えて！</z>
</section>

<ul>

  <li><%= image_tag "image3.jpg", size: '300x200' %></li>
  <li><%= image_tag "image4.jpg", size: '300x200' %></li>
  <li><%= image_tag "image6.jpg", size: '300x200' %></li>
  <li><%= image_tag "image7.jpg", size: '300x200' %></li>
 
</ul>



<p><%= link_to "投稿一覧へ", ecos_path %></p>